/* Headings styles */

.section__heading {
    font-family: 'Involve';
    font-size: 23px;
    font-weight: 500;
    line-height: 30.59px;
    color: var(--indigo);
    margin-bottom: 23px;
}

.section__heading_big {
    margin-left: 100px;
    font-size: 32.45px;
    text-transform: uppercase;
}

/* Diagram texts styles */

.diagram__title {
    display: inline-block;
    font-family: 'Involve';
    font-size: 23px;
    font-weight: 500;
    line-height: 30.59px;
    color: var(--indigo);
    margin-bottom: 9px;
}

.diagram__item {
    position: relative;
    font-family: 'Involve';
    font-size: 13px;
    font-weight: 400;
    line-height: 15.85px;
}

.diagram__description {
    font-family: 'Involve';
    font-size: 13px;
    font-weight: 400;
    line-height: 15.85px;
    margin-bottom: 18px;
}

.diagram__description_thin {
    width: 30%;
    margin: auto 0;
}

/* Diagram lists styles */

.diagram__block {
    display: flex;
    justify-content: space-between;
    gap: 23px;
    flex-wrap: wrap;
}

.diagram__block_row  {
    flex-direction: column;
}

.diagram {
    flex-basis: 46%;
    flex-grow: 2;
    padding: 35px 40px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 30px;
    max-width: 100%;
}

.diagram__item::before {
    display: flex;
    align-items: center;
    position: absolute;
    content: "•";
    color: var(--color);
    font-size: 3em;
    opacity: var(--opacity);
    height: 100%;
    left: -1em;
}

.diagram__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-left: 2.5em;
}

.diagram__list_row {
    flex-direction: row;
    justify-content: space-between;
}

/* Circle styles */

.circle__diagram {
    position: relative;
    min-width: 180px;
    width: 180px;
    height: 180px;
}

.circle__diagram::after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background-color: white;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
}

.circle__part {
    border-radius: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    background: conic-gradient(transparent 0.00%, var(--color) 0.00% var(--procent), transparent var(--procent) 100%);
    transform: rotateZ(var(--angle));
    opacity: var(--opacity);
}

.circle__data {
    display: flex;
    gap: 65px;
}

/* Histogram styles */

.histogram__wrapper {
    display: flex;
    height: fit-content;
}

.data__wrapper {
    display: flex;
    flex-grow: 2;
}

.list__wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
}

.diagram__list_mr {
    margin-right: 30px;
    margin-bottom: 10px;
}

.values__wrapper {
    display: flex;
    flex-direction: column;
    min-width: max-content;
    margin-right: 33px;
    min-height: 100%;
    justify-content: space-between;
}

.circles {
    margin-bottom: 57px;
}

.histogram {
    margin-bottom: 66px;
}

.column__wrapper {
    height: 190px;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    width: 100%;
    margin-right: 60px;
    margin-top: auto;
}

.histogram-column__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}

.histogram__column {
    max-height: var(--height);
    height: var(--height);
    opacity: var(--opacity);
    background-color: var(--color);
    flex-grow: 1;
    border-radius: 4px;
    min-width: 25px;
}

.diagram__item_fixed-width {
    min-width: max-content;
}

.values__label {
    font-family: 'Involve';
    font-size: 10px;
    font-weight: 400;
    line-height: 12.19px;
}

.values__label_transform {
    transform: translateY(1em);
}

/* Accordeon styles */

.accordeon {
    display: flex;
    justify-content: space-between;
}

.accordeon__block_hidden {
    display: none;
}

.accordeon__content {
    flex-grow: 2;
}

.accordeon__block {
    padding: 0 30px;
    max-width: 720px;
}

.accordeon__list {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-right: 20px;
}

.accordeon__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 47px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    font-family: 'Involve';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    max-width: fit-content;
    min-width: 100%;
    cursor: pointer;
}

.accordeon__item_active {
    color: var(--white);
    background: var(--indigo);
}

.bar {
    position: relative;
    margin-bottom: 55px;
    width: 100%;
}

.bar__outer,
.bar__inner {
    height: 35px;
}

.bar__outer {
    background-color: #F1F1F1;
    border-radius: 15px;
}

.bar__inner {
    top: 0;
    position: absolute;
    background-color: var(--indigo);
}

.bar__number {
    position: absolute;
    display: inline-block;
    transform: translateY(3em);
    font-family: 'Involve';
    font-size: 14px;
}

.bar__border {
    position: absolute;
    width: 2px;
    height: calc(100% - 6px);
    background-color: var(--white);
    border-radius: 5px;
    margin-top: 3px;
}

.bar__number_value {
    display: flex;
    flex-direction: column;
}

.bar__number_value::before {
    content: '▲';
    display: inline-block;
    color: var(--indigo);
    margin: 0 auto;
}

.diagram__item_small {
    font-size: 11px;
}