{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block custom_styles %}
        <link rel="stylesheet" href="/static/styles/dashboard/dashboard.css">
        <link rel="stylesheet" href="/static/styles/dashboard/dashboard-media.css">
    {% endblock %}
    <title>{% block title %}Дашборды{% endblock %}</title>
</head>
<body>
    {% block main %}
    {% set gap = 5 %}
        <main class="main">
            <h1 class="section__heading section__heading_big">Дашборды</h1>
            <section class="circles">
                <div class="wrapper">
                    <h3 class="section__heading">Аналитика IT-клстера Ульяновской области</h3>
                    <div class="diagram__block diagram__block_row">
                        <div class="diagram">
                            <strong class="diagram__title">Уровень зарплат IT-специалистов в Ульяновске</strong>
                            <p class="diagram__description">
                                Можете выбрать интересующую вас квалификацию
                            </p>
                            <div class="accordeon">
                                <ul class="accordeon__list">
                                    <li class="accordeon__item accordeon__item_active">Junior</li>
                                    <li class="accordeon__item">Middle</li>
                                    <li class="accordeon__item">Senior</li>
                                </ul>
                                <div class="accordeon__content">
                                    <div class="accordeon__block">
                                        <strong class="diagram__title">Junior</strong>
                                        <p class="diagram__description">
                                            Средний заработок составляет 55 000₽
                                        </p>
                                        <div class="bar">
                                            <div class="bar__outer">
                                                <span class="bar__number" style="left: -3%">36k</span>
                                                <span class="bar__number" style="left: 97%">121k</span>
                                            </div>
                                            <div class="bar__inner" style="left: calc(800% / 85); right: calc(3500% / 85)">
                                                <span class="bar__number" style="left: -3%">44k</span>
                                                <span class="bar__number bar__number_value" style="left: calc(1200% / 42)">56k</span>
                                                <span class="bar__border" style="left: calc(1200% / 42)"></span>
                                                <span class="bar__number" style="left: 97%;">86k</span>
                                            </div>
                                        </div>
                                        <ul class="diagram__list diagram__list_row">
                                            <li class="diagram__item diagram__item_small" style="--color: #2C46CF;">Встречаются часто</li>
                                            <li class="diagram__item diagram__item_small" style="--color: #F1F1F1;">Встречаются редко</li>
                                        </ul>
                                    </div>
                                    <div class="accordeon__block accordeon__block_hidden">
                                        <strong class="diagram__title">Middle</strong>
                                        <p class="diagram__description">
                                            Средний заработок составляет 139 000₽
                                        </p>
                                        <div class="bar">
                                            <div class="bar__outer">
                                                <span class="bar__number" style="left: -3%">62k</span>
                                                <span class="bar__number" style="left: 97%">272k</span>
                                            </div>
                                            <div class="bar__inner" style="left: calc(3400% / 210); right: calc(7100% / 210)">
                                                <span class="bar__number" style="left: -3%">96k</span>
                                                <span class="bar__number bar__number_value" style="left: calc(4300% / 105)">139k</span>
                                                <span class="bar__border bar__border_big" style="left: calc(4300% / 105)"></span>
                                                <span class="bar__number" style="left: 97%;">201k</span>
                                            </div>
                                        </div>
                                        <ul class="diagram__list diagram__list_row">
                                            <li class="diagram__item diagram__item_small" style="--color: #2C46CF;">Встречаются часто</li>
                                            <li class="diagram__item diagram__item_small" style="--color: #F1F1F1;">Встречаются редко</li>
                                        </ul>
                                    </div>
                                    <div class="accordeon__block accordeon__block_hidden">
                                        <strong class="diagram__title">Senior</strong>
                                        <p class="diagram__description">
                                            Средний заработок составляет 271 000₽
                                        </p>
                                        <div class="bar">
                                            <div class="bar__outer">
                                                <span class="bar__number" style="left: -3%">98k</span>
                                                <span class="bar__number" style="left: 97%">348k</span>
                                            </div>
                                            <div class="bar__inner" style="left: calc(7000% / 250); right: calc(3800% / 250)">
                                                <span class="bar__number" style="left: -3%">168k</span>
                                                <span class="bar__number bar__number_value" style="left: calc(10300% / 142)">271k</span>
                                                <span class="bar__border bar__border_big" style="left: calc(10300% / 142)"></span>
                                                <span class="bar__number" style="left: 97%;">310k</span>
                                            </div>
                                        </div>
                                        <ul class="diagram__list diagram__list_row">
                                            <li class="diagram__item diagram__item_small" style="--color: #2C46CF;">Встречаются часто</li>
                                            <li class="diagram__item diagram__item_small" style="--color: #F1F1F1;">Встречаются редко</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="diagram__description">
                            Служба исследований hh.ru, сайта для поиска работы и сотрудников, проанализировала 
                            спрос на ИТ-специалистов – за год число вакансий для программистов и разработчиков в 
                            России выросло на 72,4%, в Ульяновской области – на 73%.
                            <br><br>
                            Наиболее высокую зарплату программистам предлагают в Москве (174,5 тысячи), Санкт-Петербурге 
                            (152,2 тысячи) и в Новосибирской области (143,7 тысячи). Ульяновская область - на пятом месте, 
                            115,9 тысяч рублей.
                        </p>
                        <div class="diagram">
                            <strong class="diagram__title">Статистика трудоустройства в IT</strong>
                            <p class="diagram__description">
                                Здесь собрана информация о трудоустройстве сотрудников в сфере IT за 2024 г.
                            </p>
                            <div class="histogram__wrapper">
                                <div class="data__wrapper">
                                    <ul class="values__wrapper">
                                        {% for label in date_y %}
                                            <li class="values__label">{{ label }}</li>
                                        {% endfor %}
                                    </ul>
                                    <ul class="column__wrapper">
                                        {% for label in date_x %}
                                            <div class="histogram-column__wrapper">
                                                <li class="histogram__column" style="--height: {{ label.procent * 100}}%; --opacity: {{ label.procent }}; --color: #2C46CF;"></li>
                                                <span class="values__label values__label_transform">{{ label.title }}</span>
                                            </div>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="diagram">
                            <strong class="diagram__title">Востребованность специалистов</strong>
                            <div class="circle__data circle__data_large">
                                <ul class="diagram__list">
                                    {% for title, value in profession_data.data.items() %}
                                        {% set procent = (value / profession_data.total * 100)|round %}
                                        <li class="diagram__item" style="--opacity: {{ (loop.index + 1) / profession_data.amount}}; --color: #2C46CF;">{{ title }} ({{ procent }}%)</li>
                                    {% endfor %}
                                </ul>
                                <div class="circle__diagram">
                                    {% set angle = namespace(value=0) %}
                                    {% for value in profession_data.data.values() %}
                                        {% set procent = value / profession_data.total * 100 %}
                                        <div class="circle__part"
                                        style="--procent: {{ procent - gap / profession_data.amount }}%; --angle: {{ angle.value }}deg; --opacity: {{ (loop.index + 1) / profession_data.amount}}; --color: #2C46CF;">
                                        </div>
                                        {% set angle.value = angle.value + procent * 3.6 %}
                                    {% endfor %}
                                </div>
                                <p class="diagram__description diagram__description_thin">
                                    На данной диаграмме показано 5 самых востребованных профессий в IT-сфере 
                                    Ульяновской области на данный момент и количество свободных вакансий
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="circles">
                <div class="wrapper">
                    <h3 class="section__heading">Аналитика IT-компаний Ульяновской области</h3>
                    <div class="diagram__block">
                        <div class="diagram">
                            <strong class="diagram__title">Технологии IT-компаний</strong>
                            <p class="diagram__description">
                                Отображены 5 самых популярных технологий, используемых в 
                                IT-компаниях Ульяновской области.
                            </p>
                            <div class="circle__data">
                                <div class="circle__diagram">
                                    {% set angle = namespace(value=0) %}
                                    {% for value in tech_dist.data.values() %}
                                        {% set procent = value / tech_dist.total * 100 %}
                                        <div class="circle__part" 
                                        style="--procent: {{ procent - gap / tech_dist.amount }}%; --angle: {{ angle.value }}deg; --opacity: {{ (loop.index + 1) / tech_dist.amount}}; --color: #2C46CF;">
                                        </div>
                                        {% set angle.value = angle.value + procent * 3.6 %}
                                    {% endfor %}
                                </div>
                                <ul class="diagram__list">
                                    {% for title, value in tech_dist.data.items() %}
                                        {% set procent = (value / tech_dist.total * 100)|round %}
                                        <li class="diagram__item" style="--opacity: {{ (loop.index + 1) / tech_dist.amount}}; --color: #2C46CF;">{{ title }} ({{ procent }}%)</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="diagram">
                            <strong class="diagram__title">Услуги IT-компаний</strong>
                            <p class="diagram__description">
                                Отображены 5 самых популярных услуг, используемых в 
                                IT-компаниях Ульяновской области.
                            </p>
                            <div class="circle__data">
                                <div class="circle__diagram">
                                    {% set angle = namespace(value=0) %}
                                    {% for value in offer_dist.data.values() %}
                                        {% set procent = value / offer_dist.total * 100 %}
                                        <div class="circle__part"
                                        style="--procent: {{ procent - gap / offer_dist.amount }}%; --angle: {{ angle.value }}deg; --opacity: {{ (loop.index + 1) / offer_dist.amount}}; --color: #654AAD;">
                                        </div>
                                        {% set angle.value = angle.value + procent * 3.6 %}
                                    {% endfor %}
                                </div>
                                <ul class="diagram__list">
                                    {% for title, value in offer_dist.data.items() %}
                                        {% set procent = (value / offer_dist.total * 100)|round %}
                                        <li class="diagram__item" style="--opacity: {{ (loop.index + 1) / offer_dist.amount}}; --color: #654AAD;">{{ title }} ({{ procent }}%)</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="histogram">
                <div class="wrapper">
                    <h3 class="section__heading">Аналитика рейтингов компаний</h3>
                    <div class="diagram__block">
                        <div class="diagram">
                            <strong class="diagram__title">Топ-10 компаний</strong>
                            <p class="diagram__description">
                                На гистограмме отображены топ-10 компаний по оборотам за 2024 год.
                            </p>
                            <div class="histogram__wrapper">
                                <div class="data__wrapper">
                                    <ul class="values__wrapper">
                                        {% for label in hist_y %}
                                            <li class="values__label">{{ label }}</li>
                                        {% endfor %}
                                    </ul>
                                    <ul class="column__wrapper">
                                        {% for label in hist_x %}
                                            <li class="histogram__column" style="--height: {{ label.procent * 100}}%; --opacity: {{ label.procent * 5 }}; --color: #2C46CF;"></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="list__wrapper">
                                    <ul class="diagram__list diagram__list_mr">
                                        {% for label in hist_x %}
                                            {% if loop.index < 6 %}
                                                <li class="diagram__item diagram__item_fixed-width" style="--opacity: {{ label.procent * 5 }}; --color: #2C46CF;">{{ label.title }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <ul class="diagram__list">
                                        {% for label in hist_x %}
                                            {% if loop.index > 5 %}
                                                <li class="diagram__item diagram__item_fixed-width" style="--opacity: {{ label.procent * 5 }}; --color: #2C46CF;">{{ label.title }}</li>
                                            {% endif %}                                    
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="circles">
                <h1 class="section__heading section__heading_big">Аналитика посетителей</h1>
                <div class="wrapper">
                    <div class="diagram__block">
                        <div class="diagram">
                            <strong class="diagram__title">Распределение по странам</strong>
                            <p class="diagram__description">
                                Пользователи таких стран нас уже посетили.
                            </p>
                            <div class="circle__data">
                                <div class="circle__diagram">
                                    {% set angle = namespace(value=0) %}
                                    {% for value in country_data.data.values() %}
                                        {% set procent = value / country_data.total * 100 %}
                                        <div class="circle__part" 
                                        style="--procent: {{ procent - gap / 5 }}%; --angle: {{ angle.value }}deg; --opacity: {{ (loop.index + 1) / 5}}; --color: #2C46CF;">
                                        </div>
                                        {% set angle.value = angle.value + procent * 3.6 %}
                                    {% endfor %}
                                </div>
                                <ul class="diagram__list">
                                    {% for title, value in country_data.data.items() %}
                                        {% set procent = (value / country_data.total * 100)|round %}
                                        <li class="diagram__item" style="--opacity: {{ (loop.index + 1) / country_data.amount}}; --color: #2C46CF;">{{ title }} ({{ procent }}%)</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="diagram">
                            <strong class="diagram__title">Часто посещаемые страницы</strong>
                            <p class="diagram__description">
                                Самыми интересными страницами считают:
                            </p>
                            <div class="circle__data">
                                <div class="circle__diagram">
                                    {% set angle = namespace(value=0) %}
                                    {% for value in page_data.data.values() %}
                                        {% set procent = value / page_data.total * 100 %}
                                        <div class="circle__part"
                                        style="--procent: {{ procent - gap / page_data.amount }}%; --angle: {{ angle.value }}deg; --opacity: {{ (loop.index + 1) / page_data.amount}}; --color: #654AAD;">
                                        </div>
                                        {% set angle.value = angle.value + procent * 3.6 %}
                                    {% endfor %}
                                </div>
                                <ul class="diagram__list">
                                    {% for title, value in page_data.data.items() %}
                                        {% set procent = (value / page_data.total * 100)|round %}
                                        <li class="diagram__item" style="--opacity: {{ (loop.index + 1) / page_data.amount}}; --color: #654AAD;">{{ title }} ({{ procent }}%)</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    {% endblock %}
    {% block custom_scripts %}
        <script src="/static/scripts/dashboard.js"></script>
    {% endblock %}
</body>
</html>