@media (max-width: 800px) {
    .form__button {
        font-size: 14px;
    }

    .section__heading {
        font-size: 25px;
    }

    .region__block {
        padding: 30px 25px;
    }
    
    .region__text {
        font-size: 10px;
    }

    .region__button {
        font-size: 12px;
    }

    .region__button {
        padding: 5px 25px;
    }

    .diagram__block {
        flex-direction: column;
    }

    .diagram__image {
        margin: 0 auto;
    }
}

@media (max-width: 700px) {
    .frame {
        flex-basis: 100%;
    }
}

@media (max-width: 560px) {
    .diagram__list {
        margin-bottom: 20px;
        gap: 5px;
    }

    .diagram__text {
        line-height: 1em;
        font-size: 10px;
    }

    .diagram__label {
        font-size: 18px;
        line-height: 1.5em;
        margin-right: 20px;
    }

    .form__button {
        display: inline-block;
        font-size: 12px;
        padding: 5px 15px;
    }

    .diagram__image {
        width: 40vw;
    }
}

@media (max-width: 480px) {
    .region__list_mr {
        display: none;
    }
}